@using System.ComponentModel.DataAnnotations
@using Microsoft.EntityFrameworkCore.Metadata.Internal

@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@model IEnumerable<Item>
@{
    ViewData["Title"] = "Index";
}

<br /><br />
<br /><br />

@*
@if (  == @UserManager.GetUserName(User))
{
    <a asp-controller="Item" asp-action="Middleware" asp-route-id="@ViewBag.Value" class="btn btn-primary">
        &nbsp;  Add new item
    </a>
}*@

     
        <br /><br />
        
        <table class="table table-bordered table-light" style="width: 100%">
        <thead>
        <tr>
            <th>CollectionId</th>
            <th>Id</th>
            <th>Name</th>
            <th>Owner</th>
        
        </tr>
        </thead>
        <tbody>
       
        @foreach (var element in Model)
        {
            bool i = true;
            @if ( @element.Owner == @UserManager.GetUserName(User) &&  i)
            {
                <a asp-controller="Item" asp-action="Middleware" asp-route-id="@ViewBag.Value" class="btn btn-primary">
                    &nbsp; Add new item
                </a>
                i = false;
            }
            <br /><br />
            <tr>
                <th>@element.CollectionId</th>
                <th>@element.Id</th>
                <th>@element.Name</th>
                <th>@element.Owner</th>
                <td>
                    <div class="w-75 btn-group" role="group">
                        @if (@element.Owner == @UserManager.GetUserName(User))
                        {
                            <a asp-controller="Item" asp-action="Delete" class="btn btn-primary" asp-route-id="@element.Id">
                                &nbsp; Delete
                            </a>
                        }



                    </div>
                </td>

            </tr>


            
        } 
        </table>
 